<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>Message Board</title>
</head>
<body>
    <div class="header">
        <h1>Dojo Screts</h1>
        <a href="/logout">Log out</a>
    </div>

    <div class="main-content">

        <!-- for errors -->
        <% if(messages.secrets) {%>
            <% for(var i of messages.secrets){ %>
                <p><%= i %></p>
            <% } %>
        <% } %>
        <!-- // -->

        <form action="/newSecret" method="post">
            Secret: <input type="text" name="secret">
            <input type="submit" value="Post Secret">
        </form>
        <% for(var secret of secrets){ %>
            <div class="message">
                <h4>Secret: <%=secret.secret%></h4>
            </div>

            <!-- for errors -->
            <% if(messages.comment) {%>
                <% for(var i of messages.comments){ %>
                    <p><%= i %></p>
                <% } %>
            <% } %>
            <!-- // -->

            <%for(var j of secret.comment){%>
                <div class="comment">
                    <p>Comment: <%=j.comment%></p>
                </div>
            <% } %>
            
            <form action="/newComment/<%=secret.id%>" method="post">
                Comment:<input type="text" name="comment">
                <input type="submit" value="Post Comment">
            </form>
        <% } %>
        
    </div>
</body>
</html>